@charset "UTF-8"; <!--CSS encoding-->

* {
  box-sizing: border-box;
}

header {
  background-color: #fcfcfc;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  position: relative;
  webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5); /*adding shadows to the header section*/
  max-width:100%;
}

body{
  background-color:#ffffff;
  font-family: Asap,sans-serif;
  font-size: 16px; /*sets the font size to 16px*/
  font-weight: 300;  /*sets the font weight to 300*/
  line-height: 1.6;  /*sets the line height to 16px*/
  color: #4a4a4a; /*sets the font color to Charcoal, RGB(74,74,74)*/
}

h1, h2, h3, h4,h5,h6 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #ff7f50; /*text colour to orange*/
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link. visited must come before hover */
  color: #ff7f50;
}

a:hover, /*hover must come before active*/
a:focus {
  color: #cc6540;/*changes the colour to a shade of red-orange when link is hovered*/
  text-decoration: underline;
}

a:active { /* selected link */
  color: #994c30;
}

ul>li{
  text-align: left;
}

.button{
  display: inline-block;
  color: #ffffff;
  background-color: #fb8500;
  font-weight: 500;
  padding:10px;
  border-radius: 5px;
  border-bottom: 2.5px solid #994c30;
  transition: 0.2s opacity.0.2s;
  transition-property: opacity;
}

.button:hover{
  opacity: 0.8s; /*Reduces the opacity to 80%*/
  background-color: #ffffff;
  color:#fb8500;
  border: 2px solid #fb8500;
  font-size:18px;
  cursor: pointer;
  opacity: 0.8;
}

.button:active{
  color: #ffffff;
  border-color: #994c30;
  background-color: #fb8500;
}

.button.contact{
  background-color: white;
  color: #fb8500;
  text-transform: uppercase;
  border: 2px solid #fb8500;
  max-width: 15%;
}

.button.contact:hover{
  background-color: #fb8500;
  text-decoration: none;
  color: #ffffff;
}

.button.contact:active{
  background-color: #ffffff;
  color: #fb8500;
}

/*Layout styling*/

.container {
  padding: 0 15px;
  margin-left: 2px;
  margin-right: auto;
}

.details{
  text-align: left;
  margin: 1em;
  padding:1em 0;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  max-width: 1200px;
}
.wordguru{
  background-color: #023047;
  color: #ffffff;
}
.skillmaster{
  background-color: #015250;
  color: #ffffff;
}
.waveaccounting{
  background-color: #007197;
  color: #ffffff;
  max-height: inherit;
}

#work, .row { padding-bottom: 15px;
  border-bottom: .0125em solid #4a4a4a;
  text-align: center;
  position: relative;
}

#hero {
  text-align: center;
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0 10px;
  display: inline-block;
  width: 100%;
}

#hero span{
  display: block;
}

.logo{
  max-width: 150px;
}

nav{
  display: inline-block;
  width: 100%;
}

nav> ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

nav> ul> li{
  display: inline-block;
}

nav> ul> li> a{
  padding: 0 0.625em;
  text-transform: uppercase;
  font-weight: 550;
  color: #4a4a4a;
}

nav > ul > li > a:visited { /* visited link. visited must come before hover */
  color: #ff7f50;
}

nav > ul > li > a:hover, /*hover must come before active*/
nav > ul > li > a:focus {
  color: #ff7f50;/*changes the colour to a shade of red-orange when link is hovered*/
  text-decoration: none;
}

nav > ul > li > a:active { /* selected link */
  color: #994c30;
}


.socialicons{/*Styling the social media link icons*/
  max-width:100%;
  padding: 10px;
  margin: 10px;
}

#contact{
  background-color: #efefef;
}

.animation{
  width: 100%;
  max-width: 100%;
  height: auto;
}
/*adding animations to CSS*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {/*Animating the sun*/
  animation-name: color-change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-name: cloud-move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation-name: cloud-move-reverse;
  animation-duration: 34s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*Start of media queries*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

.img-left{
  float: left;
  padding: 20px;
  margin: 20px;
  width: 50%;
}

.img-right{
  float: right;
  padding: 20px;
  width: 50%;
}

.skillsimg{
float:right;
margin: 20px;
padding: 20px;
  }

#skillstools{
  text-align: center;
}

#skills{
  padding: 0;
  margin: 20px;
  width: 50%;
}

#tools{
  padding: 0;
  margin: 20px;
  width: 50%;
}
} /*end of media queries*/


.row::after {/*“clear” the flow*/
  content: "";
  clear: both;
  display: table;
}

#tools::after {/*“clear” the flow*/
  content: "";
  clear: both;
  display: table;
}

.contact{
  width: 50%;
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}






/*#fb8500 Orange colour for CTA buttons
  #efefef lightgrey colour for background
  #4a4a4a charcoal colour for header background
  #ffffff white colour for body background*/
