@charset "UTF-8"; <!--CSS encoding-->

* {
  box-sizing: border-box;
}

header {
  background-color: #fcfcfc;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  position: relative;
  webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5); /*adding shadows to the header section*/
  width: 100%;
}

body{
  background-color:#ffffff;
  font-family: Asap,sans-serif;
  font-size: 16px; /*sets the font size to 16px*/
  font-weight: 300;  /*sets the font weight to 300*/
  line-height: 1.6;  /*sets the line height to 16px*/
  color: #4a4a4a; /*sets the font color to Charcoal, RGB(74,74,74)*/
}

h1, h2, h3, h4,h5,h6 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img{
  width:100%;
}

a {
  color: #ff7f50; /*text colour to orange*/
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link. visited must come before hover */
  color: #ff7f50;
}

a:hover, /*hover must come before active*/
a:focus {
  color: #cc6540;/*changes the colour to a shade of red-orange when link is hovered*/
  text-decoration: underline;
}

a:active { /* selected link */
  color: #994c30;
}

.button{
  display: inline-block;
  background-color: #fb8500;
  color: #ffffff;
  font-weight: 500;
  padding:10px;
  border-radius: 5px;
  border-bottom: 2.5px solid #994c30;
  transition: 0.2s opacity;
  align-items:flex-end;
}

.button:hover{
  opacity: 0.8s; /*Reduces the opacity to 80%*/
  text-decoration: none; /*Removes text decorations on the a link with class called button*/
  background-color: #ffffff;
  color:#fb8500;
  border: 2px solid #fb8500;
}

.button:active{
  color: #ffffff;
  border-color: #994c30;
  background-color: #994c30;
}

.button.contact{
  background-color: white;
  color: #fb8500;
  text-transform: uppercase;
  border: 2px solid #fb8500;
}

.button.contact:hover{
  background-color: #fb8500;
  color: #ffffff;
}

.button.contact:active{
  background-color: #994c30;
  color: #ffffff;
}

/*Layout styling*/

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.wordguru{
  background-color: #023047;
  color: #ffffff;
}
.skillmaster{
  background-color: #015250;
  color: #ffffff;
}
.waveaccounting{
  background-color: #007197;
  color: #ffffff;
}

#work, .row { padding-bottom: 15px;
  border-bottom: .0125em solid #4a4a4a;
  text-align: center;
  position: relative;
}

#hero {
  text-align: center;
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0 10px;
  display: inline-block;
  width: 100%;
}

#hero span{
  display: block;
}

.logo{
  max-width: 150px;
}

nav{
  display: inline-block;
  width: 100%;
}

nav> ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav> ul> li{
  display: inline-block;
}

nav> ul> li> a{
  padding: 0 0.625em;
  text-transform: uppercase;
  font-weight: 550;
  color: #4a4a4a;
}

nav > ul > li > a:visited { /* visited link. visited must come before hover */
  color: #ff7f50;
}

nav > ul > li > a:hover, /*hover must come before active*/
nav > ul > li > a:focus {
  color: #cc6540;/*changes the colour to a shade of red-orange when link is hovered*/
  text-decoration: underline;
}

nav > ul > li > a:active { /* selected link */
  color: #994c30;
}

ul{
  text-align: left;
}
.socialicons{/*Styling the social media link icons*/
  max-width:100%;
  padding: 10px;
  margin: 10px;
}

#contact{
  background-color: #efefef;

}


/*Start of media queries*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

.img-left{
  float: left;
  padding: 20px;
  margin: 20px;
  width: 50%;
}
#skillstools{
  text-align: center;
}

#skills{
  padding: 0;
  margin: 20px;
  width: 50%;
}

#tools{
  padding: 0;
  margin: 20px;
  width: 50%;
}
} /*end of media queries*/

.img-right{
  float: right;
  padding: 20px;
  width: 50%;
}

.row::after {/*“clear” the flow*/
  content: "";
  clear: both;
  display: table;
}

#tools::after {/*“clear” the flow*/
  content: "";
  clear: both;
  display: table;
}


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}






/*#fb8500 Orange colour for CTA buttons
  #efefef lightgrey colour for background
  #4a4a4a charcoal colour for header background
  #ffffff white colour for body background*/
